/vendor
.env    
.env.*
!.env.example

composer.phar
.DS_Store
Thumbs.db
#*#
*~
*.swp
.#
.idea
_ide_helper.php
_ide_helper_models.php
/tags

# Frontend Development modules
node_modules
bower_components
.sass-cache

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

storage/debugbar/

/.env.production
/.env.development
/build

ingore.php

public/static/swagger-ui

/.php_cs.cache

# build file
/public/static/user/*
/public/static/admin/*
/public/mix-manifest.json
/public/storage
#/public/static/user/css/app.css
#/public/static/user/css/app.css.map

*.sql

/database/testing/testdb.sqlite
/documents/db/*
/documents/db.mwb.bak

# npm
/public/hot
public/hot

flow-typed
yarn-error.log
README.md
readme.md
.buildpath
.project
public/images/sygnet.svg
#yarn.lock

package-lock.json
.vscode/settings.json