.logo-container {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: row;
}

.grad {
  background-image: linear-gradient(-90deg, #1D3B6C, #2b58a2ff);
}

a, a:visited, a:hover, a:active {
  color: #1D3B6C;
}